In [1]:
%pip install kafka-python
%pip install python-dotenv

Requirement already satisfied: kafka-python in c:\users\aayush bhagat\appdata\local\programs\python\python310\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 24.3.1 is available.
You should consider upgrading via the 'c:\Users\Aayush Bhagat\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Collecting python-dotenv
  Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 24.3.1 is available.
You should consider upgrading via the 'c:\Users\Aayush Bhagat\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json
import os
from dotenv import load_dotenv, dotenv_values

In [2]:
load_dotenv()

True

In [ ]:
#creating object for kafka producer

# producer = KafkaProducer(bootstrap_servers = ['13.126.55.232:9092'],
producer = KafkaProducer(bootstrap_servers = [os.getenv("PUBLIC_IP")],
                         value_serializer = lambda x: dumps(x).encode('utf-8'))

In [ ]:
# producer.send('demo-testing1',value={'username':'Aayush256'})
# producer.send('demo-testing1',value={'username_asphaltgame':'yourKing'})
#Data send successfull from our localmachine to the EC2 at kafka and we are able to consume it

# Now we will use the dataset and put it inside the kafka

In [18]:
df = pd.read_csv('indexProcessed.csv')

In [19]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [20]:
df.sample(1).to_dict(orient = "records")[0]

{'Index': 'NYA',
 'Date': '1996-03-12',
 'Open': 3609.77002,
 'High': 3609.77002,
 'Low': 3609.77002,
 'Close': 3609.77002,
 'Adj Close': 3609.77002,
 'Volume': 0.0,
 'CloseUSD': 3609.77002}

In [21]:
while True:
    dic_stock = df.sample(1).to_dict(orient="records")[0] #getting random samples
    producer.send('demo-testing1',value=dic_stock)
    sleep(1)

KeyboardInterrupt:

In [ ]:
producer.flush()